* {
  box-sizing: border-box;
}

.grid {
  width: 750px;
  height: 750px;
  /* border: 1px solid blue; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* box-sizing: border-box; */
  margin: 0 auto;
}

.square, .tile {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  font-size: 14px;
  text-align: center;
}

.tile {
  width: 45px;
  height: 45px;
  margin-top: 2.1px;
  margin-left: 2px;
  padding-bottom: 10px;
}

.square {
  z-index: 0;
}

.App {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.letter {
  margin-top: 10px;
}

.pointValue {
  margin-left: 25px;
}

.gridAndRack {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
}